@import '../../../theme.scss';

.questionAddonsWrapper {
  margin-top: 6px;
  .questionAddonsButton {
    display: flex;
    width: fit-content;
    @include ivq-text;
    font-style: italic;
    font-size: 14px;
    outline-offset: -1px;
    cursor: pointer;
    .iconWrapper {
      width: 16px;
      height: 16px;
      margin-left: 4px;
      line-height: 10px;
      display: none;
      &.active {
        display: inline-block;
      }
    }
  }
  .questionAddonsContent {
    @include ivq-text;
    margin-top: 6px;
    font-style: italic;
    font-size: 14px;
  }
}
