@import '../../theme.scss';

:global(.ivq) {
  @include reset-css();
}

.ivqOverlay {
  > :global(.playkit-overlay .playkit-overlay-contents) {
    display: flex;
    flex-direction: column;
    padding: 0 !important; // overwrite responsive overlay styles
    overflow: hidden;
  }
}

:global(.playkit-player.has-ivq-plugin-overlay .playkit-playlist-next-screen-overlay) {
  display: none;
}
