.multiChoiceWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  .questionText {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
  }

  .optionalAnswersWrapper {
    display: flex;
    flex-direction: row;
    .optionalAnswersContainer {

      .multiSelectAnswer {
        margin: 4px 0;
      }
    }
  }

  .quizOptionalAnswer {
    display: flex;
    height: 32px;
    align-items: center;
    padding: 5px 16px;

    background: rgba(255, 255, 255, 0.16);
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;

    &.active {
      border: 1px solid #ffffff;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.2);
    }
  }
}
