/* CSS Reset
taken from https://meyerweb.com/eric/tools/css/reset/
compiled using http://lesscss.org/less-preview/
 */

.ivqOverlay div,
.ivqOverlay span,
.ivqOverlay applet,
.ivqOverlay object,
.ivqOverlay iframe,
.ivqOverlay h1,
.ivqOverlay h2,
.ivqOverlay h3,
.ivqOverlay h4,
.ivqOverlay h5,
.ivqOverlay h6,
.ivqOverlay p,
.ivqOverlay blockquote,
.ivqOverlay pre,
.ivqOverlay a,
.ivqOverlay abbr,
.ivqOverlay acronym,
.ivqOverlay address,
.ivqOverlay big,
.ivqOverlay cite,
.ivqOverlay code,
.ivqOverlay del,
.ivqOverlay dfn,
.ivqOverlay em,
.ivqOverlay img,
.ivqOverlay ins,
.ivqOverlay kbd,
.ivqOverlay q,
.ivqOverlay s,
.ivqOverlay samp,
.ivqOverlay small,
.ivqOverlay strike,
.ivqOverlay strong,
.ivqOverlay sub,
.ivqOverlay sup,
.ivqOverlay tt,
.ivqOverlay var,
.ivqOverlay b,
.ivqOverlay u,
.ivqOverlay i,
.ivqOverlay center,
.ivqOverlay dl,
.ivqOverlay dt,
.ivqOverlay dd,
.ivqOverlay ol,
.ivqOverlay ul,
.ivqOverlay li,
.ivqOverlay fieldset,
.ivqOverlay form,
.ivqOverlay label,
.ivqOverlay legend,
.ivqOverlay table,
.ivqOverlay caption,
.ivqOverlay tbody,
.ivqOverlay tfoot,
.ivqOverlay thead,
.ivqOverlay tr,
.ivqOverlay th,
.ivqOverlay td,
.ivqOverlay article,
.ivqOverlay aside,
.ivqOverlay canvas,
.ivqOverlay details,
.ivqOverlay embed,
.ivqOverlay figure,
.ivqOverlay figcaption,
.ivqOverlay footer,
.ivqOverlay header,
.ivqOverlay hgroup,
.ivqOverlay menu,
.ivqOverlay nav,
.ivqOverlay output,
.ivqOverlay ruby,
.ivqOverlay section,
.ivqOverlay summary,
.ivqOverlay time,
.ivqOverlay mark,
.ivqOverlay audio,
.ivqOverlay video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.ivqOverlay article,
.ivqOverlay aside,
.ivqOverlay details,
.ivqOverlay figcaption,
.ivqOverlay figure,
.ivqOverlay footer,
.ivqOverlay header,
.ivqOverlay hgroup,
.ivqOverlay menu,
.ivqOverlay nav,
.ivqOverlay section {
    display: block;
}
.ivqOverlay body {
    line-height: 1;
}
.ivqOverlay ol,
.ivqOverlay ul {
    list-style: none;
}
.ivqOverlay blockquote,
.ivqOverlay q {
    quotes: none;
}
.ivqOverlay blockquote:before,
.ivqOverlay blockquote:after,
.ivqOverlay q:before,
.ivqOverlay q:after {
    content: "";
    content: none;
}
.ivqOverlay table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*********** end of CSS RESET */
