.openQuestionWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  .questionText {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
  }
  .questionAnswer {
    padding: 8px;
    border: 1px solid #888888;
    box-sizing: border-box;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: inherit;
    min-height: 80px;
    font-size: 14px;
    line-height: 18px;
  }
}
