@import '../../../theme.scss';

.openQuestionWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  max-height: 100%;
  .questionText {
    @include ivq-text;
    @include ivq-question-content;
    .visuallyHidden {
      @include visually-hidden;
    }
  }
  .textAreaWrapper {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    margin-top: 16px;
    .questionAnswer {
      width: 100%;
      resize: vertical;
      padding: 8px;
      border-width: 1px;
      border-style: solid;
      border-color: map-get($theme-colors, 'secondary');
      border-radius: 4px;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.3);
      color: map-get($theme-colors, 'primary');
      font-family: inherit;
      min-height: 80px;
      max-height: 120px;
      font-size: 14px;
      line-height: 18px;
      outline-offset: -1px;
      @include ivq-scrollbar;
    }
    .charCounter {
      @include ivq-text;
      position: relative;
      text-align: right;
      margin-top: 4px;
      font-size: 14px;
    }
    ::selection {
      background-color: #5b80a7;
    }
  }
}
