@import '../../theme.scss';

.popupRoot {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  padding: 16px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  border-radius: 4px;
  @include ivq-text;
  z-index: 2;
  &.submit {
    width: 282px;
    height: 148px;
  }
  &.completed {
    width: 282px;
    height: 78px;
  }
  &.almostDone {
    width: 282px;
    height: 114px;
  }
  .closeButton {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 0px;
    top: 0px;
    border-radius: 4px;
    outline-offset: -1px;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }
  }
  .title {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }
  .description {
    width: 100%;
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .buttonsWrapper {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    .ivqPopupButtons {
      width: 100%;
      &.primaryButton {
        margin-left: 8px;
      }
    }
  }
}
