@import '~@playkit-js/playkit-js-ui';

:global(.playkit-ivq) {
  --ivq-question-font-size: 18px;
  --ivq-question-line-height: normal;
  --ivq-question-max-width: 100%;
  --ivq-answer-font-size: 16px;
  --ivq-answer-line-height: normal;
  --ivq-answer-border-radius: 4px;
  --ivq-textarea-font-size: 14px;
  --ivq-textarea-min-height: 80px;
  --ivq-textarea-max-height: 120px;
  --ivq-button-font-size: 14px;
  --ivq-button-padding: 4px 8px;
  --ivq-button-border-radius: 4px;
  --ivq-title-font-size: 32px;
  --ivq-description-font-size: 14px;
  --ivq-popup-background: rgba(0, 0, 0, 0.7);
  --ivq-popup-blur: 8px;
}

$roundness-1: 4px;

$button-background: rgba(255, 255, 255, 0.12);
$button-background-active: rgba(255, 255, 255, 0.2);
$selection-border-width: 2px;

@mixin ivq-text {
  font-style: normal;
  color: #ffffff;
  overflow: auto;
}

@mixin ivq-question-content {
  flex-shrink: 0;
  font-weight: bold;
  font-size: var(--ivq-question-font-size);
  line-height: var(--ivq-question-line-height);
  overflow-wrap: break-word;
  max-width: var(--ivq-question-max-width);
  &:focus {
    outline: none !important; // overwride player styles
  }
}

@mixin ivq-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--ivq-button-padding);
  height: 32px;
  border-radius: var(--ivq-button-border-radius);
  border-width: 1px;
  border-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: var(--ivq-button-font-size);
  line-height: 17px;
  text-align: left;
  color: #ffffff;
  box-sizing: border-box;
  &:hover:not(.disabled) {
    cursor: pointer;
  }
}

@mixin ivq-primary-button {
  @include ivq-button;
  color: $primary-text-contrast-color;
  background: $primary-color;
  &:hover:not(.disabled) {
    background: $primary-darker-color;
  }
  &:focus:not(.disabled) {
    background: $primary-brighter-color;
  }
  &.disabled {
    border-width: 1px;
    border-style: solid;
    border-color: $tone-4-color;
    color: $tone-4-color;
    background: transparent;
  }
}

@mixin ivq-secondary-button {
  @include ivq-button;
  color: $tone-1-color;
  background: transparent;
  &:hover:not(.disabled) {
    background: $tone-4-color;
  }
  &:focus:not(.disabled) {
    background: $tone-6-color;
  }
  &.disabled {
    color: $tone-4-color;
  }
}

@mixin optional-answer {
  display: flex;
  flex-shrink: 0;
  height: 32px;
  align-items: center;
  padding: 5px 16px;
  margin: 4px;

  background: $button-background;
  border-style: solid;
  border-width: $selection-border-width;
  border-radius: var(--ivq-answer-border-radius);
  border-color: transparent;
  font-size: var(--ivq-answer-font-size);
  line-height: var(--ivq-answer-line-height);
  color: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
  outline-offset: -1px;
  &:hover:not(.disabled) {
    background: $button-background-active;
  }
  &.active {
    border-color: $tone-1-color;
    background: $button-background-active;
  }
  &.disabled {
    cursor: default;
  }
}

@mixin without-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@mixin ivq-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(33, 33, 33, 0.9);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@mixin outline-fix {
  &:focus {
    outline: none !important; // overwrite player !important styles
  }
}

// solution taken from bootstrap lib (https://github.com/twbs/bootstrap/blob/v5.0.2/site/content/docs/5.0/helpers/visually-hidden.md)
@mixin visually-hidden() {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

$bottom-bar-height: 60px;

@mixin reset-css {
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
