$theme-colors: (
  'primary': #ffffff,
  'secondary': #888888,
  'semi-gray': rgba(255, 255, 255, 0.16),
  'active': rgba(255, 255, 255, 0.2)
);

$primary-button-colors: (
  'default': #006efa,
  'hover': #004cad,
  'focus': #4798ff
);

$secondary-button-colors: (
  'default': transparent,
  'hover': map-get($theme-colors, 'secondary'),
  'focus': #444444
);

@mixin ivq-text {
  font-style: normal;
  line-height: normal;
  font-size: 18px;
  color: map-get($theme-colors, 'primary');
  overflow: auto;
}

@mixin ivq-question-content {
  flex-shrink: 0;
  font-weight: bold;
  line-height: normal;
  overflow-wrap: break-word;
}

@mixin ivq-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  height: 32px;
  border-radius: 4px;
  border-width: 1px;
  border-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: map-get($theme-colors, 'primary');
  box-sizing: border-box;
  &:hover:not(.disabled) {
    cursor: pointer;
  }
}

@mixin ivq-primary-button {
  @include ivq-button;
  background: map-get($primary-button-colors, 'default');
  &:hover:not(.disabled) {
    background: map-get($primary-button-colors, 'hover');
  }
  &:focus:not(.disabled) {
    background: map-get($primary-button-colors, 'focus');
  }
  &.disabled {
    border-width: 1px;
    border-style: solid;
    border-color: map-get($theme-colors, 'secondary');
    color: map-get($theme-colors, 'secondary');
    background: transparent;
  }
}

@mixin ivq-secondary-button {
  @include ivq-button;
  background: map-get($secondary-button-colors, 'default');
  &:hover:not(.disabled) {
    background: map-get($secondary-button-colors, 'hover');
  }
  &:focus:not(.disabled) {
    background: map-get($secondary-button-colors, 'focus');
  }
  &.disabled {
    color: map-get($theme-colors, 'secondary');
  }
}

@mixin optional-answer {
  display: flex;
  flex-shrink: 0;
  height: 32px;
  align-items: center;
  padding: 5px 16px;

  background: map-get($theme-colors, 'semi-gray');
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: transparent;
  font-size: 16px;
  line-height: normal;
  color: map-get($theme-colors, 'primary');
  cursor: pointer;
  box-sizing: border-box;
  outline-offset: -1px;
  &:hover:not(.disabled) {
    background: map-get($theme-colors, 'active');
  }
  &.active {
    border-color: map-get($theme-colors, 'primary');
    background: map-get($theme-colors, 'active');
  }
  &.disabled {
    cursor: default;
  }
}

@mixin without-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@mixin ivq-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(33, 33, 33, 0.9);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@mixin outline-fix {
  &:focus {
    outline: none !important; // overwrite player !important styles
  }
}

$bottom-bar-height: 60px;

@mixin reset-css {
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
